<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Font awesome -->
  <script src="https://kit.fontawesome.com/bc79913c77.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/dashboard.css">

  <title>Dog Central</title>
</head>

<body>
  <button class="open-button bg-dark text-accent-100" onclick="openForm()">Register Pet</button>
  <section class="form-popup" id="myForm">
    <form class="form-container" method="POST" action="/pet/createPet" enctype="multipart/form-data">
      <div class="error" style="background-color: red;"></div><br>
      <label for="name"><input type="text" name="petName" value="" id="petName" placeholder="Name" required></label>
      <label for="breed"><input id="breed" type="text" name="breed" value="" placeholder="Breed" required></label>
      <label class="birthday" for="birthday">Birthday: <input type="date" name="birthday" value="" id="birthday"
          min="2005-01-01" max="2050-12-31" required></label>
      <label for="imgUpload"><input type="file" id="image" name="file" alt="Insert photo" required></label>
      <label for="weight"><input type="number" name="weight" id="weight" value="weight"
          placeholder="Enter weight in kilograms" step="0.01" required></label>
      <button type="submit" value="Submit" class="btn bg-dark">Add Pet</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
  </section>


  <ul class="pet-list">
    <%# for each opening %>

      <% petInfo.forEach((pet, i)=> { %>

        <li class="pet-list__item">
          <section class="pet-list__item--image item">
            <img class="img" src="<%=pet.image %>" alt="Photo of <%= pet.name  %> ">
            <section class="form-btns">
              <button type="submit" class="btn bg-light fas fa-edit" onclick="updateForm(<%=i %>)"></button>

              <form action="/pet/deletePet/<%= pet._id %>?_method=DELETE" method="POST" class="col-3">
                <button class="btn bg-dark fa fa-trash" type="submit"></button>
              </form>
            </section>
          </section>
          <section class="pet-list__item--name">
            Name:
            <%=pet.name %>
          </section>
          <section class="pet-list__item--breed">
            Breed:
            <%=pet.breed %>
          </section>
          <section class="pet-list__item--birthday">
            Birthday:
            <%= new Date(pet.birthday).toLocaleDateString('en-US', {timeZone: 'UTC' }) %>
          </section>

          <section class="pet-list__item--weight">
            Weight:
            <%=pet.weight %>
          </section>
        </li>


        <section class="updateForm edit-popup">

          <form class="form-container col-3" action=" /pet/updatePet/<%=pet._id %>?_method=PUT" method="POST"
            enctype="multipart/form-data">
            <input type="text" value="<%= pet.name %>" name="name">
            <input type="text" value="<%= pet.breed %>" name="breed">
            <input type="date" value="<%= pet.birthday %>" name="birthday">

            <input type="text" value="<%= pet.weight %>" name="weight">
            <button type="submit" value="Submit" class="btn bg-dark">Update</button>
            <button type="button" class="btn cancel" onclick="closeUpdateForm(<%=i %>)">Close</button>
          </form>
        </section>


        <% })%>
          <%# for each closing %>

  </ul>


  <!-- <ul class="vaccine-list">
      <%# for each opening %>
        <% petInfo.forEach(pet=> { %>
          <li class="pet-list__item">
            <section class="pet-list__item--image">
              <img class="img" src="<%=pet.image %>" alt="Photo of <%= pet.name  %> ">
            </section>
            <section class="pet-list__item--name">
              <%=pet.name %>
            </section>
            <section class="pet-list__item--breed">
              <%=pet.breed %>
            </section>
            <section class="pet-list__item--birthday">
              <%=pet.birthday %>
            </section>

            <section class="pet-list__item--weight">
              <%=pet.weight %>
            </section>
          </li>
          <% })%>
            <%# for each closing %>
    </ul> -->

  <script src="/pet.js"></script>
</body>

</html>