<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Font awesome -->
  <script src="https://kit.fontawesome.com/bc79913c77.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/dashboard.css">

  <title>Dog Central</title>
</head>

<body>
  <h2>Register your pet below:</h2>
  <button class="open-button" onclick="openForm()">Register Pet</button>
  <section class="form-popup" id="myForm">
    <form class="form-container" method="POST" action="/pet/createPet" enctype="multipart/form-data">
      <div class="error" style="background-color: red;"></div><br>
      <label>Name: <input type="text" name="petName" value="name" id="petName" required></label>
      <label>Breed: <input id="breed" type="text" name="breed" value="breed" required></label>
      <label>Birthday: <input type="date" name="birthday" value="birthday" id="birthday" required></label>
      <label for="imgUpload">Photo: <input type="file" id="image" name="file" alt="Insert photo" required></label>
      <label>Weight: <input type="number" name="weight" id="weight" value="weight"
          placeholder="Enter weight in kilograms" step="0.01" required></label>
      <input type="submit" value="Submit">
      <button type="submit" value="Submit" class="btn">Add Pet</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
  </section>

  <div class="wrapper">
    <ul class="pet-list">
      <%# for each opening %>

        <% petInfo.forEach(pet=> { %>

          <li class="pet-list__item">

            <form action="/pet/deletePet/<%= pet._id %>?_method=DELETE" method="POST" class="col-3">
              <button class="btn btn-primary fa fa-trash" type="submit">DELETE PET</button>
            </form>

            <section class="pet-list__item--image">
              <img class="img" src="<%=pet.image %>" alt="Photo of <%= pet.name  %> ">
            </section>
            <section class="pet-list__item--name">
              <%=pet.name %>
            </section>
            <section class="pet-list__item--breed">
              <%=pet.breed %>
            </section>
            <section class="pet-list__item--birthday">
              <%=pet.birthday %>
            </section>

            <section class="pet-list__item--weight">
              <%=pet.weight %>
            </section>
          </li>

          <form action="/pet/updatePet/<%= pet._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <input type="text" value="<%= pet.name %>" name="name">
            <input type="text" value="<%= pet.breed %>" name="breed">
            <input type="text" value="<%= pet.birthday %>" name="birthday">

            <input type="text" value="<%= pet.weight %>" name="weight">
            <button type="submit" class="btn btn-primary fa-solid fa-pen-to-square">Update</button>
          </form>
          <% })%>
            <%# for each closing %>

    </ul>


    <ul class="vaccine-list">
      <%# for each opening %>
        <% petInfo.forEach(pet=> { %>
          <li class="pet-list__item">
            <section class="pet-list__item--image">
              <img class="img" src="<%=pet.image %>" alt="Photo of <%= pet.name  %> ">
            </section>
            <section class="pet-list__item--name">
              <%=pet.name %>
            </section>
            <section class="pet-list__item--breed">
              <%=pet.breed %>
            </section>
            <section class="pet-list__item--birthday">
              <%=pet.birthday %>
            </section>

            <section class="pet-list__item--weight">
              <%=pet.weight %>
            </section>
          </li>
          <% })%>
            <%# for each closing %>
    </ul>
  </div>

  <script src="/pet.js"></script>
</body>

</html>